<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Maplestory Image Maker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
    <div class="spinner-container" id="spinner-container" style="display: none;">
        <i id="loading-spinner" class="fas fa-spinner fa-spin"></i>
    </div>
</head>
<body>
    <div class="container">
        <h1>Maplestory Image Maker</h1>
        <form id="name-form">
            <input type="text" id="name" name="name" placeholder="Enter name">
            <label for="style-dropdown">Choose a style:</label>
            <select id="style-dropdown" name="style">
                <option value="impressionism">Impressionism</option>
                <option value="abstract">Abstract</option>
                <option value="vintage">Vintage</option>
                <option value="modern">Modern</option>
                <option value="digital-art">Digital Art</option>
                <option value="cartoon">Cartoon</option>
                <option value="classical">Classical</option>
            </select>
            <button id="image-button" type="submit">Click for image!</button>
        </form>
        <div id="result">
            <img id="profile-pic" src="" alt="" style="display: none; max-width: 100%; height: auto; border-radius: 100%; margin-bottom: 20px;">
            <h2>Summary</h2>
            <p id="summary-and-facts"></p>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#name-form').on('submit', function (e) {
                e.preventDefault();
                $('#spinner-container').show();
                $.ajax({
                    url: '/process',
                    data: $('#name-form').serialize(),
                    type: 'POST',
                    success: function (response) { // flask 서버에 post요청 보내서 response로 가져오기
                        $('#profile-pic').attr('src', response.picture_url); // Update the profile picture src
                        $('#profile-pic').attr('alt', response.picture_url); // 업데이트가 왜 안되노
                        $('#profile-pic').show(1000); // Show the profile picture
                        $('#summary-and-facts').text(response.summarized_text);
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    complete: function () {
                        $('#spinner-container').hide();
                    }
                });
            });
        });
    </script>
</body>
</html>